
.logo{
    height: 30px;
}

.carousel-item img{
    height: 45vh;
    object-fit: cover;
}

.card{
    height: 300px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cardetails img{
    height:400px;
    object-fit: cover;
}

.card-body {
    flex: 1;
  }

  .card-footer {
    margin-top: auto;
  }

  .form-check-label {
    margin-bottom: 0;
  }